### Local .env files ###
.env*.local

### TS ###
*.tsbuildinfo
next-env.d.ts

### deps ###
/node_modules

### Tests ###
/coverage

### next.js ###
/.next/
/out/

### production ###
/build

### misc ###
.DS_Store
*.pem

### debug ###
npm-debug.log*
